<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>React View test page</title>
    <!-- Bootstrap -->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<style>
    .button div {
        display: inline-block;
        margin: 10px;
    }
    .input div {
        display: inline-block;
        margin: 10px;
        width:200px;
    }
    div.checkbox {
        diplay: inline-block;
        margin: 10px;
    }
</style>
<body>
    <div class="content">

    </div>
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/react/react.js"></script>
    <script src="../../bower_components/react/JSXTransformer.js"></script>
    <script src="core.js"></script>
    <script type="text/jsx" src="button.jsx"></script>
    <script type="text/jsx" src="input.jsx"></script>
    <script type="text/jsx" src="checkbox.jsx"></script>
    <script type="text/jsx" src="renderer.jsx"></script>
</body>
</html>
